@model ExpatMig.Models.PointsCalculatorModel
<div class="Bg-Image def-height pull-left def-Width" id="bgClass">
   
     

      
                <div class="container Glass-bg Margin-l">
                    <div class="card wizard-card ct-wizard-orange">
                        <div class="wizard-container">
                            <h4 class="info-text">
                                Your score is
                                @Html.DisplayFor(prcalc => prcalc.score) !!!
                            </h4>
                        </div>
                    </div>
                </div>
     
       
    <p class="back-bottom">
        @Html.ActionLink("Back to Calculator", "PRCalculator")
    </p>
    </div>