.container{
    height:90%;
}
.form-group, .ChatController 
{
    height:95%;
}

.listgroup{
    height:95%;
    overflow:auto;
    padding-left:0%;
}

.chat-item{
     width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #DDD;
}