.container
{
    height: 90%;
}

.form-group, .ChatController
{
    height: 95%;
}

.listgroup
{
    height: 95%;
    overflow: auto;
    padding-left: 0%;
}

#txtMessage
{
    position: absolute;
}

 
 