.container
{
    height: 94%;
}

.Chat-height
{
    height: 90%;
}

.Thread-height
{
    height: 72%;
}

.ThreadDetail-height
{
    overflow: auto;
    height: 92%;
    width: 100%;
}


.listgroup
{
    height: 100%;
    overflow: auto;
    padding-left: 0%;
}

#txtMessage
{
    position: absolute;
}

.SelectedSearchResult
{
    background-color: #333 !important;
    color: #fa0;
    font-weight: bold;
}
.SearchResults ul
{
   
}
.SearchResults li:hover
{
    background-color: #999;
    color: #fa0;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

.SelectedTopicSearched
{
    background-color: #FFA !important;
    color: #333;
    font-weight: bold;
}

.ChatController
{
    background-color: rgba(200,200,200,10);
}

.chat-item
{
   width: 80%;
    margin: 10px;
    background-color: rgba(215,215,215,1);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 4px #AAA;
}


.search-item{
     background-color: rgba(215,215,215,1);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #AAA;
}
.search-item:last-child{
    margin-bottom:5px;
}