body
{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Quicksand;
    font-weight: 400;
    background: url('../Images/ps_neutral.png');
}

*, h1, h2, h3, h4, h5, h6
{
    font-family: Quicksand;
}

html, body
{
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

.margin-xs-top
{
    margin-top: 1%;
}

.margin-s-top
{
    margin-top: 2.3%;
}

.margin-s
{
    margin: 2%;
}

.margin-horz
{
    margin: 0 2%;
}

.margin-s-left
{
    margin-left: 1%;
}

.def-Width
{
    width: 100%;
}

.dropWidth
{
    width: 87%;
}

.clear-padding
{
    padding: 0px;
}

.border-silver
{
    border: 1px solid rgba(237, 237, 237, 1);
}

.def-textbox
{
    width: 66%;
}

.margin-l-bottom
{
    margin-bottom: 5%;
}

.margin-m-top
{
    margin-top: 3%;
}

.margin-m-left
{
    margin-left: 3%;
}

.caret
{
    float: right;
    margin-top: 4%;
}

.no-margin-top
{
    margin-top: 0px;
}

.divider
{
    border: 1px solid silver;
    border-left: 0px solid red;
    border-right: 0px solid red;
    border-bottom: 0px solid red;
}

.def-height
{
    height: 100%;
}

.Chat-height
{
    height: 93%;
}

.Thread-height
{
    height: 72%;
}

.ThreadDetail-height
{
    overflow: auto;
    height: 92%;
    width: 100%;
}

.no-padding-right
{
    padding-right: 0px;
}

.Bg-silver
{
    border-right: 1px solid rgba(237, 237, 237, 1);
    background: rgba(237, 237, 237, 0.3);
}

.margin-s-hoz
{
    margin: 0% 2%;
}

.no-margin-bottom
{
    margin-bottom: 0px !important;
}

.header2
{
    font-size: 2em;
}

.fontcolor-orange
{
    color: orangered;
}

.txtbox-default-width
{
    width: 94% !important;
}

.cursor-hand
{
    cursor: pointer;
}


/**************************          Loading panel           ***************************/

.LoadingPanel
{
    position: absolute;
    display: none;
    background-color: white;
    text-align:center;
}

    .LoadingPanel .Image
    {
    background: url('../Images//10.gif') no-repeat;
    margin: 0 auto;
    width: 120px;
    position: relative;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    }
