body
{
    padding-top: 50px;
    font-family: Quicksand;
    font-weight: 400;
    background: url('../Images/ps_neutral.png');
}

a
{
    color: white;
    text-decoration: none !important;
}


*, h1, h2, h3, h4, h5, h6
{
    font-family: Quicksand;
}

html, body
{
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

.padding-m
{
    padding: 2%;
}

.margin-xs-top
{
    margin-top: 1%;
}

.margin-s-top
{
    margin-top: 2.3%;
}

.margin-s
{
    margin: 2%;
}

.margin-horz
{
    margin: 0 2%;
}

.margin-s-left
{
    margin-left: 1%;
}

.def-Width
{
    width: 100%;
}

.dropWidth
{
    width: 87%;
}

.clear-padding
{
    padding: 0px;
}

.border-silver
{
    border: 1px solid rgba(237, 237, 237, 1);
}

.def-textbox
{
    width: 66%;
}

.margin-l-bottom
{
    margin-bottom: 5%;
}

.margin-m-top
{
    margin-top: 3%;
}

.margin-m-left
{
    margin-left: 3%;
}

.caret
{
    float: right;
    margin-top: 4%;
}

.no-margin-top
{
    margin-top: 0px;
}

.divider
{
    border: 1px solid silver;
    border-left: 0px solid red;
    border-right: 0px solid red;
    border-bottom: 0px solid red;
}

.def-height
{
    height: 100%;
}

.Chat-height
{
    height: 86%;
}

.Thread-height
{
    height: 72%;
}

.ThreadDetail-height
{
    overflow: auto;
    height: 90%;
    width: 100%;
}

.no-padding-right
{
    padding-right: 0px;
}

.Bg-silver
{
    border-right: 1px solid rgba(237, 237, 237, 1);
    background: rgba(237, 237, 237, 0.6);
}

.margin-s-hoz
{
    margin: 0% 2%;
}

.no-margin-bottom
{
    margin-bottom: 0px !important;
}

.header2
{
    font-size: 2em;
}

.fontcolor-orange
{
    color: orangered;
}

.txtbox-default-width
{
    width: 94% !important;
}

.cursor-hand
{
    cursor: pointer;
}
.fontsize-jumbo-xl
{
    font-size: 128px;
}

.rounded-panel
{
    border-radius: 10px;
    border: solid 3px #ccc;
    text-align: center;
}

.forecolor-dull
{
    color: #ccc;
}

/**************************          Loading panel           ***************************/

.LoadingPanel
{
    position: absolute;
    display: none;
    background-color: white;
    text-align: center;
}

    .LoadingPanel .Image
    {
        background: url('../Images//10.gif') no-repeat;
        margin: 0 auto;
        width: 120px;
        position: relative;
        top: 50%;
        height: 20px;
        margin-top: -10px;
    }

/*              **************  JqToast  ************************              */
.ToastText
{
    color: white;
    font-size: 2.5em;
    font-weight: 100;
}

.JqToast
{
    width: 100%;
    position: absolute;
    background-color: #444;
    overflow: hidden;
    display: none;
    opacity: 0;
    padding: 4%;
    float: left;
    z-index: 101;
}

.ToastText h3
{
    color: yellow;
    text-decoration: underline;
    font-weight: 100;
    display: inline;
    text-transform: capitalize;
}


/***************************    Bootstrap Tabs    ******************/

.tab-body
{
    background-color: white;
}

.tab-content
{
    background-color: white;
    padding: 20px;
    border-bottom: solid 1px #DDE;
    border-left: solid 1px #DDE;
    border-right: solid 1px #DDE;
}
/********************************  Home Pag e*****************************************/

.ContentLayer
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    max-width: none !important;
}

.Bg-gray
{
    background: #545256;
}

.text-white
{
    color: rgba(250, 250, 250, 1);
}

.text-orange
{
    color: rgba(233, 202, 32, 1);
}

.Glass-bg
{
    background: rgba(0,0,0,0.5);
}

.Margin-l
{
    margin: 5%;
}

.Banner
{
    position: absolute;
    top: 50px;
}

.Trans
{
    opacity: 0.7;
}

.Bg-Image
{
    background: url('../Images/pexels-photo (1).jpg') no-repeat;
    background-size: cover;
}

/*******************************  OutLine Buttons    ******************************************/

.btn-iboltz
{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-left: 10%;
    width: 20%;
    border: 2px solid rgba(233, 202, 32, 1);
    color: rgba(233, 202, 32, 1);
    padding: 4px 0px;
    font-size: 2em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 40px;
}


    .btn-iboltz:hover
    {
        background-color: rgba(233, 202, 32, 1); /* Green */
        color: white;
    }

    .btn-iboltz a:hover
    {
        color: white;
    }

.Child_Banner
{
    position: absolute;
    top: 80%;
}

footer
{
    background: rgba(0,0,0,1);
    margin: 0px;
    padding: 0.5% 0%;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
/***************************    Bootstrap Tabs    ******************/

.tab-body
{
    background-color: white;
}

.tab-content
{
    background-color: white;
    padding: 20px;
    border-bottom: solid 1px #DDE;
    border-left: solid 1px #DDE;
    border-right: solid 1px #DDE;
}
/*              **************  JqToast  ************************              */
.ToastText
{
    color: white;
    font-size: 2.5em;
    font-weight: 100;
}

.JqToast
{
    width: 100%;
    position: absolute;
    background-color: #444;
    overflow: hidden;
    display: none;
    opacity: 0;
    padding: 4%;
    float: left;
    z-index: 101;
}

.ToastText h3
{
    color: yellow;
    text-decoration: underline;
    font-weight: 100;
    display: inline;
    text-transform: capitalize;
}
/*              FileUploader            */
.DropBox .PhotoUploader
{
    position: absolute;
    z-index: 0;
    opacity: 0.01;
}

.DropBox .FileUploader
{
    position: absolute;
    z-index: 100;
}

.DropBox .Message
{
    position: relative;
}

.DropBox #imgPhoto
{
border-radius:30px;
}
