@model ExpatMig.Models.Topic

@{
    ViewBag.Title = "ChatDetails";
}


<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 border-silver pull-left clear-padding" ng-controller="ChatController">
    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12 clear-padding pull-left">
        <div class="form-inline margin-s">
            <h3 class="col-lg-12 col-sm-12 col-md-12 col-xs-12 pull-left clear-padding">Groups </h3>

            <div class="dropdown pull-left dropWidth">
                <button class="btn btn-primary dropdown-toggle def-Width" type="button" id="btnSelectedGroup" data-toggle="dropdown">
                    <span ng-bind="SelectedGroup"></span>
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu def-Width">
                    <li ng-repeat="EachGroup in AllGroups">
                        <a ng-click="getselectgroup(EachGroup)">{{EachGroup.Description}}</a>
                    </li>

                </ul>
            </div>
            <input type="button" value=" + " data-toggle="modal" data-target="#pnlNewGroup" class="btn btn-info margin-s-left" />


        </div>
        <hr />

        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 pull-left">
            <h3 class="pull-left no-margin-top">Threads</h3>
            <input type="button" data-target="#pnlNewThread" data-toggle="modal" value=" + " class="btn btn-success pull-right margin-l-bottom" />

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left divider" ng-repeat="EachThread in AllThreads">
                <h4> <a ng-click="getselectthhread(EachThread.ThreadID)">{{EachThread.Description}}</a></h4>

            </div>

        </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">

        <div class="form-group">
            <div ng-controller="ChatController" id="divChatController" class="ChatController">
                <ul class="list-group" id="ChatHistory">
                    <li ng-repeat="x in Bindable" class="list-group-item">
                        <div class="row">
                            <div class="col-md-10 ">
                                <strong>{{x.UserName}}</strong>
                            </div>
                            <div class="col-md-2 text-right">
                                <small>{{x.CreatedDate | date:'dd-MMM-yy HH:mm'}}</small>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ x.Description }}
                            </div>
                        </div>


                    </li>
                </ul>
                <div class="input-group input-group-lg ">
                    <input type="text" ng-model="Message" id="txtMessage" placeholder="type here ...." ng-keypress="OnEnterPress($event)" class="form-control" />
                    <div ng-click="SaveChanges()" class="glyphicon glyphicon-send input-group-addon"></div>

                </div>
            </div>

        </div>
    </div>
</div>


@section PageSpecificStyles
{
    @Styles.Render("~/bundles/chatstyle")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chatng")

}

@section AdditionalJS
{
    <script>
        var CurrentUserID = @ViewBag.CurrentUserID;

        var CurrentUserName =@Html.Raw( string.Format("\"{0}\"", User.Identity.Name)) ;
    </script>
}