

@model ExpatMig.Models.Topic

@{
    ViewBag.Title = "ChatDetails";
}

<h2>ChatDetails</h2>

<div class="form-horizontal">
    <h4>Topic</h4>

    @*<div class="btn btn-warning" id="btnTester">
            Tester
        </div>*@
    <div ng-controller="ChatController" id="divChatController">
        <ul class="list-group">
            <li ng-repeat="x in Bindable" class="list-group-item">
                <div class="row">
                    <div class="col-md-10 ">
                        <strong>{{x.UserName}}</strong>
                    </div>
                    <div class="col-md-2 text-right">
                        <small>{{x.CreatedDate | date:'dd-MMM-yy HH:mm'}}</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ x.Description }}
                    </div>
                </div>


            </li>
        </ul>
        <div class="input-group input-group-lg ">
            <input type="text" ng-model="Message" placeholder="type here ...." ng-keypress="OnEnterPress($event)" class="form-control" />
            <div ng-click="SaveChanges()" class="glyphicon glyphicon-send input-group-addon"></div>

        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chatng")

}

@section AdditionalJS
{
    <script>
        var CurrentUserID = @ViewBag.CurrentUserID;

        var CurrentUserName =@Html.Raw( string.Format("\"{0}\"", User.Identity.Name)) ;
    </script>
}