@model ExpatMig.Models.Topic

@{
    ViewBag.Title = "ChatDetails";
}

<h2>ChatDetails</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Topic</h4>


        <div ng-controller="ChatController">
            <ul>
                <li ng-repeat="x in Bindable">
                     {{x.CreatedBy}} Said   {{ x.Description }}
                </li>
            </ul>

            <input type="text" ng-model="Message" value=" " />
            <input type="button" ng-click="SaveChanges()" value="Post" class="btn btn-danger" />

        </div>

    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chatng")

}
