@model ExpatMig.Models.Topic

@{
    ViewBag.Title = "ChatDetails";
}

<!--    Chat Controller    -->
<div ng-controller="ChatController" id="divChatController" class="col-lg-12 col-sm-12 col-xs-12 col-md-12 border-silver pull-left clear-padding ChatController def-height">
    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12 clear-padding pull-left def-height Bg-silver ">
        <div class="form-inline margin-s">
            <h4 class="col-lg-12 col-sm-12 col-md-12 col-xs-12 pull-left clear-padding margin-xs-top">
                <i class="ion-person-stalker"></i> Groups
            </h4>

            <div class="dropdown pull-left dropWidth" id="ddlGroups">
                <button class="btn btn-primary dropdown-toggle def-Width" type="button" id="btnSelectedGroup" data-toggle="dropdown">
                    <span ng-bind="SelectedGroup"></span>
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu def-Width">
                    <li ng-repeat="EachGroup in AllGroups" last-item-loaded="OnLastGroupLoaded(element)">
                        <a ng-click="ListThreadsForGroup(EachGroup)">{{EachGroup.Description}}</a>
                    </li>

                </ul>
            </div>
            <button type="button" data-toggle="modal" data-target="#pnlNewGroup" class="btn btn-info margin-s-left">
                <span class="glyphicon glyphicon-plus"></span>
            </button>


        </div>
        <hr />

        <div class="Thread-height form-inline margin-s ">
            <h4 class="pull-left no-margin-top dropWidth">
                <i class="ion-android-folder"></i> Threads
            </h4>
            <button type="button" data-target="#pnlNewThread" data-toggle="modal" value=" + " class="btn btn-success margin-s-left">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="ThreadDetail-height  margin-s-top">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left divider" ng-repeat="EachThread in AllThreads" last-item-loaded="OnLastThreadLoaded(element)">
                    <h4> <a class="cursor-hand" ng-click="ListTopicsForThread(EachThread.ThreadID)">{{EachThread.Description}}</a></h4>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12 def-height clear-padding">

        <div class="Chat-height">
            <ul class="listgroup" id="ChatHistory" upward-infinite-scroll="LoadMoreTopics()">
                <li ng-repeat="x in AllTopics" class="list-group-item chat-item margin-s-top" style="margin-left:{{x.OwnerAlignLeft}}"
                    on-item-databound="OnItemDatabound(element)"
                    last-item-loaded="OnLastTopicLoaded(element)">
                    <!--    bindable -->
                    <div class="row">
                        <div class="col-md-9 ">
                            <i class="ion-person"></i>
                            <span data-toggle="modal" ng-click="ShowUserPrfile(x.CreatedBy)" data-target="#divUserProfiler" style="color:rgb({{x.Color.Red}},{{x.Color.Green}},{{x.Color.Blue}})"> <strong>{{x.UserName}}</strong></span>
                        </div>
                        <div class="col-md-3 text-right">
                            <small>{{x.CreatedDateString}}</small>
                        </div>

                    </div>
                    <div class="row">
                      
                        <div class="col-md-12" ng-bind-html="RenderWithEmoji(x.Description)">
                            
                        </div>
                    </div>


                </li>
            </ul>


            <div class="input-group margin-s clear-padding " id="divMessageInputPanel">
                <input type="text" ng-model="Message" id="txtMessage" placeholder="type here ...." aria-describedby="btnSendMessage" ng-keypress="OnEnterPress($event)" class="form-control" />
                <div class="input-group-btn">
                    <button ng-click="SaveChanges()" id="btnSendMessage" class="btn btn-success">
                        <span class="glyphicon glyphicon-send "></span>
                    </button>
                </div>
            </div>
        </div>


    </div>

    <div id="pnlNewThread" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Thread</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group def-Width">
                            <input type="text" ng-model="ThreadName" placeholder="Type your new thread here.." class="form-control def-textbox pull-left" />
                            <button type="submit" ng-click="SaveThread()" data-dismiss="modal" value="Post" class="btn btn-success margin-m-left">Save</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="pnlNewGroup" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group def-Width">

                            <input type="text" class="form-control def-textbox pull-left" placeholder="Type your new group here" ng-model="GroupName" />

                            <button type="submit" ng-click="SaveGroup()" data-dismiss="modal" value="Post" class="btn btn-success margin-m-left">Save</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!--    UserProfile Controller    -->
<div id="divUserProfiler" ng-controller="UserProfileController" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="ion-person"></i>  User Profile</h4>
                
            </div>
            <div class="modal-body">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        @*<li data-target="#myCarousel" data-slide-to="3"></li>*@
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h4>Personal</h4>
                            <div class="row">
                                <div class="col-md-4">Name</div>
                                <div class="col-md-8">{{HisProfile.FirstName}} {{HisProfile.LastName}}</div>
                                <div class="col-md-4">Phone Number</div>
                                <div class="col-md-8">{{HisProfile.PhoneNumber}}</div>
                                <div class="col-md-4">Date of Birth</div>
                                <div class="col-md-8">{{HisProfile.BirthDay |date:'dd-MMM-yy'}}</div>
                            </div>
                        </div>

                        <div class="item">

                            <h4>Professional</h4>
                            <div class="row">
                                <div class="col-md-4">Experience</div>
                                <div class="col-md-8">{{HisProfile.Experience}} Years</div>
                                <div class="col-md-4">Sector</div>
                                <div class="col-md-8">{{HisProfile.Sector}}</div>
                                <div class="col-md-4">LinkedIn</div>
                                <div class="col-md-8">{{HisProfile.LinkedIn}}</div>
                            </div>
                        </div>

                        <div class="item">
                            <h4>Migration</h4>
                            <div class="row">
                                <div class="col-md-4">Native</div>
                                <div class="col-md-8">{{HisProfile.NativeCity.Description}} </div>
                                <div class="col-md-4">Migrating To</div>
                                <div class="col-md-8">{{HisProfile.MigratingTo.Description}}</div>
                                <div class="col-md-4">Visa Type</div>
                                <div class="col-md-8">{{HisProfile.VisaType}}</div>
                                <div class="col-md-4">Visa Granted On</div>
                                <div class="col-md-8">{{HisProfile.VisaGrantOn|date:'dd-MMM-yy'}}</div>
                                <div class="col-md-4">Suburb</div>
                                <div class="col-md-8">{{HisProfile.Suburb}}</div>
                            </div>
                        </div>

                        @*<div class="item">
                            <h4>Travel Plans</h4>
                        </div>*@
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>


</div>


@section PageSpecificStyles
{
    @Styles.Render("~/bundles/chatstyle")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chatng")

}

@section AdditionalJS
{
    <script>
        var CurrentUserID = @ViewBag.CurrentUserID;

        var CurrentUserName =@Html.Raw( string.Format("\"{0}\"", User.Identity.Name)) ;
    </script>
}