@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expat Migration</h1>
    <p class="lead">Expat Migration community. Share and gain knowledge about the entire migration process from the community</p>
    
</div>

<div class="row">
    <div class="col-md-4">Discuss</div>
    <div class="col-md-4">Register</div>
    <div class="col-md-4">Login</div>
 </div>